<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Booking Data</h4>
    <button
      type="button"
      class="close"
      aria-label="Close"
      (click)="modal.dismiss('Cross click')"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form>
      <div class="form-group">
        <label class="mb-2 text-primary" for="dateOfBirth"
          >Choose the data</label
        >
        <div class="input-group">
          <input
            id="dateOfBirth"
            class="form-control py-0"
            placeholder="choose date"
            [(ngModel)]="date"
            name="dp"
            ngbDatepicker
            #dp="ngbDatepicker"
          />
          <div class="input-group-append">
            <button
              class="btn btn-outline-secondary calendar p-0 px-2"
              (click)="dp.toggle()"
              type="button"
            >
              <fa-icon
                class="fs-cal light-blue hover-white"
                [icon]="faCalendarAlt"
              ></fa-icon>
            </button>
          </div>
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button
      type="button"
      class="btn btn-outline-dark"
      (click)="modal.close('Save click'); getData()"
    >
      Save
    </button>
  </div>
</ng-template>

<button class="btn btn-primary my-3" (click)="open(content)">book</button>
