<footer class="page-footer font-small special-color-dark bg-primary pt-4">
  <div class="container">
    <ul class="list-unstyled list-inline text-center">
      <li class="list-inline-item ">
        <a class="mx-1" href="https://www.facebook.com/">
          <fa-icon class="text-white fs-5" [icon]="faFacebookF"></fa-icon>
        </a>
      </li>
      <li class="list-inline-item">
        <a class="mx-1" href="https://twitter.com/">
          <fa-icon class="text-white fs-5" [icon]="faTwitter"></fa-icon>
        </a>
      </li>
      <li class="list-inline-item">
        <a class="mx-1" href="https://www.google.com/">
          <fa-icon class="text-white fs-5" [icon]="faGooglePlusG"></fa-icon>
        </a>
      </li>
      <li class="list-inline-item">
        <a class="mx-1" href="https://www.linkedin.com/">
          <fa-icon class="text-white fs-5" [icon]="faLinkedinIn"></fa-icon>
        </a>
      </li>
      <li class="list-inline-item">
        <a class="mx-1" href="https://dribbble.com/">
          <fa-icon class="text-white fs-5" [icon]="faDribbble"></fa-icon>
        </a>
      </li>
    </ul>
  </div>

  <div class="footer-copyright text-center text-white py-3">
    © 2020 Copyright:
    <a class="text-white" href="https://mdbootstrap.com/"> MDBootstrap.com</a>
  </div>
</footer>
