.logo {
  font-size: 45px;
  font-weight: bolder;
}
h3 {
  font-size: 30px;
  font-weight: bolder;
}
.border-red {
  border-bottom: 4px solid red;
}
.dropdown-item.active {
  background-color: #e9ecef !important;
}

.dropdown-item {
  &:focus,
  &:hover {
    background-color: #e9ecef !important;
  }
}

.dropdown-menu[data-bs-popper] {
  left: -80px !important;
}
